@font-face {
  font-family: 'GothamPro';
  src: url(../font/GothamPro.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'GilRoy';
  src: url(../font/GothamPro.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: 'GothamPro';
  color: $primary-text-color;
  background-color: $primary-background-color;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  position: relative;
  font-family: $main-font;
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}

@media screen and (min-width: 1500px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.button {
  padding: 20px 45px 18px 45px;
  font-family: Gotham Pro;
  font-size: 14px;
  line-height: 1.15;
  color: $secondary-text-color;
  background-color: transparent;
  border: 1px solid $secondary-text-color;
  text-transform: uppercase;
  cursor: pointer;
}

.icon-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $primary-background-color;
  cursor: pointer;
}
.icon-white {
  fill: $primary-background-color;
}
