$main-font: "Montserrat", sans serif;

$primary-text-color: #40474e;
$secondary-text-color: #6b97bb;
$primary-background-color: #ffffff;
$background-color: #e5e5e5;
$secondary-background-color: #d9d4d4;
$instagram-background-color: #cfdae3;
$hero-background-color: rgba(5, 7, 8, 0.45);
$button-background-color: #6b97bb;
$button-text-color: #f9f9fa;
$footer-background-color: #6a737a;
$languages-color: rgba(255, 255, 255, 0.4);
$border-color: #98a4ae;
$accent-color: #aa182c;
$secondary-border-color: #8d9aa5;
