$main-font: "Montserrat", sans serif;
// $main-font: "Nunito", sans serif;

$primary-text-color: #40474e;
$secondary-text-color: #6b97bb;
// $title-text-color: #212121;
$primary-background-color: #ffffff;
$background-color: #e5e5e5;
$secondary-background-color: #d9d4d4;
$instagram-background-color: #cfdae3;
$hero-background-color: rgba(5, 7, 8, 0.45);
$button-background-color: #6b97bb;
$button-text-color: #f9f9fa;
$footer-background-color: #6a737a;
$languages-color: rgba(255, 255, 255, 0.4);
$border-color: #98a4ae;
$accent-color: #aa182c;
$secondary-border-color: #8d9aa5;
// $label-background-color: rgba(47, 48, 58, 0.8);
// $portfolio-overlay-color: rgba(33, 150, 243, 0.9);
// $input-text-color: rgba(255, 255, 255, 0.6);
// $input-placeholder-color: rgba(117, 117, 117, 0.5);
