@font-face {
  font-family: "GothamPro";
  src: url(../font/GothamPro.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GilRoy";
  src: url(../font/GothamPro.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  background: #ffffff;
  font-family: "GothamPro";
  color: #40474e;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font: 20px/1.21 "GothamPro", sans serif;
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  font: 14px/1.15 Gotham Pro;
  background: transparent;
  padding: 20px 45px 18px 45px;
  color: #6b97bb;
  border: 1px solid #6b97bb;
  text-transform: uppercase;
  cursor: pointer;
}

.icon-button {
  font: 14px/1.21 "GothamPro", sans serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.icon-white {
  fill: #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__button {
  background: #ffffff;
  padding: 13px 35px 11px 35px;
  border: 1px solid #aa182c;
  cursor: pointer;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__link {
  font: 16px/1.6 "GothamPro", sans serif;
  text-transform: uppercase;
  color: #40474e;
}

.site-nav__link:hover {
  color: #aa182c;
}

.site-nav__item--accent {
  color: #aa182c;
}

.site-nav__item:not(:last-child) {
  margin-right: 42px;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service__item:not(:last-child) {
  margin-right: 13px;
}

.service__icon {
  fill: #40474e;
  cursor: pointer;
}

.service__item--heart {
  position: relative;
}

.service__icon:hover,
.service__icon:focus {
  fill: #aa182c;
}

.favourite {
  background: #aa182c;
  position: absolute;
  top: -4px;
  right: -7px;
  display: block;
  width: 12px;
  height: 13px;
  color: #ffffff;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  text-align: center;
  font-size: 10px;
}

.select-css {
  font: 16px/1.6 "GothamPro", sans serif;
  background: url(../img/arrow-drop-down.svg) no-repeat right -1px top 50%/0.95em auto;
  display: block;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 10px;
  text-transform: uppercase;
  color: #40474e;
  cursor: pointer;
}

.select-css:hover,
.select-css:focus {
  outline: none;
}

.select-css option:checked {
  display: none;
}

.hero {
  position: relative;
}

.hero__container {
  position: relative;
}

.hero__image {
  background: linear-gradient(rgba(5, 7, 8, 0.45), rgba(5, 7, 8, 0.45)), url(../img/hero-image-1x.jpg);
  position: relative;
  padding-top: 385px;
  padding-bottom: 61px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.hero__title {
  font: 86px/1 "GothamPro", sans serif;
  padding-top: 55px;
  margin-bottom: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__text {
  font: 30px/1.4 "GothamPro", sans serif;
  color: #ffffff;
}

.social {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-bottom: 20px;
}

.control-panel {
  margin-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.control-panel__separator {
  position: relative;
}

.control-panel__separator::after {
  background: #fff;
  position: absolute;
  content: "";
  height: 34px;
  width: 1.5px;
  top: -6px;
  left: 0;
}

.dots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dots__item {
  background: #fff;
  width: 5px;
  height: 5px;
  border-radius: 50px;
}

.dots__item.active {
  background: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  border: 2px solid #ffffff;
}

.dots__item:not(:last-child) {
  margin-right: 17px;
}

.arrow-right {
  margin-left: 40px;
  fill: #aa182c;
  cursor: pointer;
}

.arrow-left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  fill: #ffffff;
  margin-right: 40px;
  cursor: pointer;
}

.projects__container {
  padding-bottom: 433px;
}

.projects__wrapper {
  position: relative;
}

.projects__title {
  margin-bottom: 80px;
}

.projects__title::after {
  background: #8d9aa5;
  position: absolute;
  left: 224px;
  bottom: 10px;
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  border-radius: 2px;
}

.projects .slider-for-wrapper {
  position: absolute;
  right: 627px;
  max-width: 1070px;
  z-index: 1;
}

.projects__box {
  position: relative;
  max-width: 540px;
  margin-right: 0px;
  margin-left: auto;
  z-index: 40;
}

.projects__box--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.projects__button--arrow {
  background: #ffffff;
  padding: 20px 15px 18px 15px;
  border: 1px solid #98a4ae;
  cursor: pointer;
}

.projects__button--left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 10px;
  fill: #40474e;
}

.projects__button--right {
  fill: #aa182c;
}

.projects__subtitle {
  font: 44px/1.3 "GothamPro", sans serif;
  margin-top: 85px;
  margin-bottom: 40px;
}

.projects__text {
  font: 300 18px/1.4 "GothamPro", sans serif;
}

.projects__text:not(:last-child) {
  margin-bottom: 15px;
}

.projects .carousel-wrapper {
  position: absolute;
  left: -180px;
  bottom: -345px;
  max-width: 941px;
  overflow: hidden;
  z-index: 10;
}

.projects .slick-slide {
  width: 367px;
}

.carousel__item {
  width: 327px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-magnifier-container {
  position: relative;
  z-index: 2;
}

.img-magnifier-glass {
  position: absolute;
  cursor: none;
  width: 120px;
  height: 120px;
  z-index: 100;
}

.magnifier-icon {
  position: absolute;
  left: -28px;
  top: 500px;
  z-index: 30;
}

.magnifier-icon.invisible {
  display: none;
}

.blog {
  background: #e5e5e5;
}

.blog__wrapper {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog__title::after {
  background: #8d9aa5;
  position: absolute;
  left: 319px;
  bottom: 10px;
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  border-radius: 2px;
}

.blog__carousel {
  width: 1695px;
  overflow: hidden;
}

.blog .slick-slide {
  width: 392px;
}

.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
}

.blog__item:not(:last child) {
  margin-right: 15px;
}

.blog__item:hover,
.blog__item:focus {
  padding: 8px;
  border: 2px solid #cfdae3;
}

.blog__box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 380px;
  padding: 24px 20px;
  border: 2px solid #cfdae3;
  border-top: none;
}

.blog__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}

.blog__subtitle {
  font: 14px/1.3 "GothamPro", sans serif;
  padding: 5px 10px;
  text-transform: uppercase;
}

.blog__subtitle--news {
  background: #cfdae3;
}

.blog__subtitle--article {
  background: #d9d4d4;
}

.blog__date {
  font: 14px/1.3 "GothamPro", sans serif;
  text-transform: uppercase;
}

.blog__link {
  font: 20px/1.2 "GothamPro", sans serif;
  color: #40474e;
}

.blog__link:hover,
.blog__link:focus {
  color: #6b97bb;
}

.blog__statistics {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog__subitem:not(:last-child) {
  margin-right: 15px;
}

.blog__counter {
  margin-left: 5px;
  font-size: 12px;
  color: #6a737a;
}

.instagram {
  background: #cfdae3;
}

.instagram__container {
  margin: 0 auto;
}

.instagram__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(280px, auto);
  grid-gap: 20px;
}

.instagram__link--icon {
  background: #40474e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.instagram__item--last {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 70px;
}

.instagram__link {
  font: 24px/1.2 "GothamPro", sans serif;
  margin-top: 15px;
  margin-bottom: 18px;
  color: #40474e;
}

.instagram__button {
  font: 14px/1.6 "GothamPro", sans serif;
  background: #6b97bb;
  padding: 15px 32px 13px;
  border: none;
  text-transform: uppercase;
  color: #f9f9fa;
  cursor: pointer;
}

.instagram__title {
  width: 410px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.instagram__title::after,
.instagram__title::before {
  background: #8d9aa5;
  position: absolute;
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  border-radius: 2px;
}

.instagram__title::after {
  left: 420px;
  bottom: 10px;
}

.instagram__title::before {
  left: -224px;
  bottom: 10px;
}

.form {
  background: #ffffff;
  position: absolute;
  right: 67px;
  top: 85px;
  padding: 76px 140px 100px;
}

.form__section {
  background: #e5e5e5;
}

.form__container {
  position: relative;
}

.form__title {
  font: 44px/1.3 "GothamPro", sans serif;
  margin-bottom: 16px;
  text-align: center;
}

.form__text {
  font: 300 18px/1.4 "GothamPro", sans serif;
  margin-bottom: 30px;
}

.form__input {
  font: 300 16px/1.4 "GothamPro", sans serif;
  padding: 13px 20px;
  margin-bottom: 17px;
  display: block;
  width: 100%;
  border: 1px solid #cfdae3;
  color: #98a4ae;
}

.form__button {
  background: #6b97bb;
  padding: 20px 22px 17px 30px;
  border: none;
}

.form__message {
  resize: none;
}

.footer {
  background: #6a737a;
}

.footer__container {
  padding-top: 80px;
  padding-bottom: 20px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 262px;
}

.footer__column--double {
  display: grid;
  grid-auto-rows: minmax(140px, auto);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__button--arrow {
  background: #6b97bb;
  padding: 20px 20px 17px 20px;
  margin-bottom: 20px;
  border: none;
}

.footer__button--download {
  background: transparent;
  padding: 20px 20px 17px 20px;
  border: 1px solid #ffffff;
}

.footer__social {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 130px;
}

.footer__title {
  font: 18px/1.4 "GothamPro", sans serif;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer__link {
  font: 14px/1.2 "GothamPro", sans serif;
  color: #ffffff;
}

.footer__brand {
  font: 14px/1.2 "GothamPro", sans serif;
  color: #ffffff;
}

.basement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.basement__language {
  font: 14px/1.2 "GothamPro", sans serif;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.basement__language {
  font: 14px/1.2 "GothamPro", sans serif;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.basement__language:hover,
.basement__language:focus {
  color: #ffffff;
}

.basement__rights {
  font: 14px/1.2 "GothamPro", sans serif;
  color: #ffffff;
}

.basement__text {
  font: 12px/1.33 "GilRoy";
  color: #ffffff;
}

.basement__development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basement__icon {
  margin-left: 4px;
}

.separator {
  color: #ffffff;
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .instagram__container {
    max-width: 880px;
  }
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__image {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 8, 0.45)), to(rgba(5, 7, 8, 0.45))), url(../img/hero-image-2x.jpg);
    background-image: -o-linear-gradient(rgba(5, 7, 8, 0.45), rgba(5, 7, 8, 0.45)), url(../img/hero-image-2x.jpg);
    background-image: linear-gradient(rgba(5, 7, 8, 0.45), rgba(5, 7, 8, 0.45)), url(../img/hero-image-2x.jpg);
  }
}