.footer {
  background-color: $footer-background-color;

  &__container {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 262px;
  }

  &__column--double {
    display: grid;
    grid-auto-rows: minmax(140px, auto);
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__button--arrow {
    padding: 20px 20px 17px 20px;
    margin-bottom: 20px;
    background-color: $secondary-text-color;
    border: none;
  }

  &__button--download {
    padding: 20px 20px 17px 20px;
    background-color: transparent;
    border: 1px solid $primary-background-color;
  }

  &__social {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 130px;
  }

  &__title {
    margin-bottom: 15px;
    @include fonts($main-font, 18px, 1.4);
    color: $primary-background-color;
  }

  &__link {
    @include fonts($main-font, 14px, 1.2);
    color: $primary-background-color;
  }

  &__brand {
    @include fonts($main-font, 14px, 1.2);
    color: $primary-background-color;
  }
}

.basement {
  display: flex;
  justify-content: space-between;

  &__language {
    background-color: transparent;
    border: none;
    color: $languages-color;
    @include fonts($main-font, 14px, 1.2);
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__language {
    background-color: transparent;
    border: none;
   @include fonts($main-font, 14px, 1.2);
    color: $languages-color;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__language:hover,
  &__language:focus {
    color: $primary-background-color;
  }

  &__rights {
    @include fonts($main-font, 14px, 1.2);
    color: $primary-background-color;
  }

  &__text {
    // font-family: Gilroy;
    font-size: 12px;
    line-height: 1.33;
    color: $primary-background-color;
  }

  &__development {
    display: flex;
  }

  &__icon {
    margin-left: 4px;
  }
}

.separator {
  color: $primary-background-color;
}
