.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  padding: 13px 35px 11px 35px;
  background-color: $primary-background-color;
  border: 1px solid $accent-color;
  cursor: pointer;
}

.site-nav {
  display: flex;

  &__link {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    color: $primary-text-color;
  }

  &__link:hover {
    color: $accent-color;
  }

  &__item--accent {
    color: $accent-color;
  }

  &__item:not(:last-child) {
    margin-right: 42px;
  }
}

.service {
  display: flex;
  justify-content: space-between;

  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__icon {
    fill: $primary-text-color;
  }

  &__item--heart {
    position: relative;
  }

  &__icon:hover,
  &__icon:focus {
    fill: $accent-color;
  }
}

.favourite {
  position: absolute;
  top: -4px;
  right: -7px;
  display: block;
  width: 12px;
  height: 13px;
  background-color: $accent-color;
  color: $primary-background-color;
  transform: rotate(15deg);
  text-align: center;
  font-size: 10px;
}

.select-css {
  display: block;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 10px;

  background-image: url(../../img/arrow-drop-down.svg);
  background-repeat: no-repeat, repeat;
  background-position: right -1px top 50%, 0 0;
  background-size: 0.95em auto, 100%;
  font-size: 16px;
  // font-weight: 600;
  font-family: $main-font;
  line-height: 1.6;
  text-transform: uppercase;
  color: $primary-text-color;
}

.select-css:hover,
.select-css:focus {
  outline: none;
}

// .select-css option {
//   font-weight: 600;
// }
.select-css option:checked {
  display: none;
}

.select-css option:hover,
.select-css option:focus {
  // outline: none;
  background-color: red;
  // background-color: $primary-background-color;
}
