.hero {
  position: relative;

  &__container {
    position: relative;
  }

  &__image {
    position: relative;
    padding-top: 385px;
    padding-bottom: 179px;

    background-image: linear-gradient(
        $hero-background-color,
        $hero-background-color
      ),
      url(../img/hero-image.jpg);
    // background-repeat: no-repeat;
    // background-image: url(../../img/hero-image.jpg);
    // background-position: center;
    // background-size: cover;
  }

  // &__image:after {
  //   content: "";
  //   background: $hero-background-color;
  //   display: block;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  // }

  &__title {
    padding-top: 65px;
    margin-bottom: 28px;
    @include fonts($main-font, 86px, 1);
    color: $primary-background-color;
    text-transform: uppercase;
    // position: relative;
    // z-index: 3;
  }

  &__text {
    @include fonts($main-font, 30px, 1.4);
    color: $primary-background-color;
    // position: relative;
    // z-index: 3;
  }
}

.social {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  // z-index: 3;

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
