.hero {
  position: relative;

  &__container {
    position: relative;
  }

  &__image {
    position: relative;
    padding-top: 385px;
    padding-bottom: 179px;

    background-image: linear-gradient(
        $hero-background-color,
        $hero-background-color
      ),
      url(../img/hero-image.jpg);
  }

  &__title {
    padding-top: 65px;
    margin-bottom: 28px;
    @include fonts($main-font, 86px, 1);
    color: $primary-background-color;
    text-transform: uppercase;
  }

  &__text {
    @include fonts($main-font, 30px, 1.4);
    color: $primary-background-color;
  }
}

.social {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
