.instagram {
  background-color: $instagram-background-color;

  &__container {
    margin: 0 auto;
    @media screen and (min-width: 1500px) {
      max-width: 880px;
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(280px, auto);
    grid-gap: 20px;
  }

  &__link--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: $primary-text-color;
  }

  &__item--last {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 71px;
    background-color: $primary-background-color;
  }

  &__link {
    margin-top: 15px;
    margin-bottom: 18px;
    @include fonts($main-font, 24px, 1.2);
    color: $primary-text-color;
  }

  &__button {
    padding: 15px 32px 13px;
    background-color: $button-background-color;
    border: none;
    @include fonts($main-font, 14px, 1.6);
    text-transform: uppercase;
    color: $button-text-color;
    cursor: pointer;
  }
}

.instagram__title {
  width: 410px;
  margin: 0 auto;
  margin-bottom: 80px;

  &::after,
  &::before {
    position: absolute;

    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background-color: $secondary-border-color;
    border-radius: 2px;
  }
  &::after {
    left: 420px;
    bottom: 10px;
  }

  &::before {
    left: -224px;
    bottom: 10px;
  }
}
