.projects {
  &__container {
    // padding-bottom: 433px;
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      padding-bottom: 60px;
    }
    // @media screen and (min-width: $tablet) and (max-width: ($desktop)) {

    // }
    @media screen and (min-width: $desktop) {
      padding-bottom: 433px;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    margin-bottom: 80px;
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      margin-top: 60px;
      margin-bottom: 30px;
    }
    // @media screen and (min-width: $tablet) and (max-width: ($desktop)) {

    // }
    // @media screen and (min-width: $desktop) {

    // }
  }

  &__title::after {
    position: absolute;
    left: 224px;
    bottom: 10px;
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background-color: $secondary-border-color;
    border-radius: 2px;
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      left: 190px;
      width: 100px;
    }
    // @media screen and (min-width: $tablet) and (max-width: ($desktop)) {

    // }
    // @media screen and (min-width: $desktop) {

    // }
  }

  .slider-for-wrapper {
    position: absolute;
    // right: 627px;
    // max-width: 1070px;
    z-index: 1;
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      // right: 627px;
      max-width: 430px;
    }
    // @media screen and (min-width: $tablet) and (max-width: ($desktop)) {

    // }
    @media screen and (min-width: $desktop) {
      right: 627px;
      max-width: 1070px;
    }
  }

  &__box {
    // position: relative;
    // max-width: 540px;
    // margin-right: 0px;
    // margin-left: auto;
    // z-index: 40;
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      padding-top: 350px;
      // margin-right: 0px;
      // margin-left: auto;
    }
    // @media screen and (min-width: $tablet) and (max-width: ($desktop)) {

    // }
    @media screen and (min-width: $desktop) {
      position: relative;
      max-width: 540px;
      margin-right: 0px;
      margin-left: auto;
      z-index: 40;
    }
  }

  &__box--buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button--arrow {
    font-size: 0;
    padding: 20px 15px 15px 15px;
    border: 1px solid $border-color;
    background-color: $primary-background-color;
    cursor: pointer;
  }

  &__button--left {
    transform: rotate(180deg);
    margin-right: 15px;
    fill: $primary-text-color;
  }

  &__button--right {
    fill: $accent-color;
  }

  &__subtitle {
    margin-top: 85px;
    margin-bottom: 40px;
    @include fonts($main-font, 44px, 1.3);
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      margin-top: 35px;
      margin-bottom: 20px;
      font-size: 32px;
    }
  }

  &__text {
    @include fonts($main-font, 18px, 1.4);
    font-weight: 300;
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      font-size: 16px;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 15px;
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      margin-bottom: 10px;
    }
  }

  .carousel-wrapper {
    // position: absolute;
    // left: -180px;
    // bottom: -345px;
    // max-width: 941px;
    overflow: hidden;
    // z-index: 10;
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      max-width: 460px;
    }
    // @media screen and (min-width: $tablet) and (max-width: ($desktop)) {

    // }
    @media screen and (min-width: $desktop) {
      position: absolute;
      left: -180px;
      bottom: -345px;
      max-width: 941px;

      z-index: 10;
    }
  }
  .slick-slide {
    // width: 367px;
    @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
      width: 300px;
    }
    // @media screen and (min-width: $tablet) and (max-width: ($desktop)) {

    // }
    @media screen and (min-width: $desktop) {
      width: 367px;
    }
  }
}

.carousel__item {
  // width: 327px;
  @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
    // width: 207px;
  }
  // @media screen and (min-width: $tablet) and (max-width: ($desktop)) {

  // }
  @media screen and (min-width: $desktop) {
    width: 327px;
  }
}

.carousel__img {
  @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
    width: 275px;
  }
}

.slick-track {
  display: flex;
}

.img-magnifier-container {
  position: relative;
  z-index: 2;
}

.img-magnifier-glass {
  position: absolute;
  cursor: none;
  width: 120px;
  height: 120px;
  z-index: 100;
}

.magnifier-icon {
  position: absolute;
  // left: -28px;
  // top: 500px;
  z-index: 30;
  @media screen and (min-width: $mobile) and (max-width: ($tablet)) {
    left: -18px;
    top: 100px;
  }
  // @media screen and (min-width: $tablet) and (max-width: ($desktop)) {

  // }
  @media screen and (min-width: $desktop) {
    left: -28px;
    top: 500px;
  }
}

.magnifier-icon.invisible {
  display: none;
}
